@import "header";
@import "body";
@import "footer" nav;
h1 {
  color: red; }

ul {
  background: #f0bdab; }

html body header nav.navbar.navbar-expand-lg.navbar-light.bg-light div.container-fluid div#navbarSupportedContent.collapse.navbar-collapse {
  background-color: black; }
