@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{

   margin: 0;
 
   padding: 0;
 
 }
 
 
h1{
    color: lightcoral;
}
header nav ul li a{
    color: firebrick;
}
 .flex-container{
    width: 100%;

    display: flex;

   flex: direction column; 
 }

ul {
    list-style: none;
    font: size 1px; /* truco por el uso de inline-block*/
 }
 li {
    display: inline-block;
    width: 25%;
    position:relative;
    font-size: 20px
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
 }
 @media screen and (max-width:480px){
 .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;

    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer"
   }
  }
 @media screen and (min-width:500px)  {
   .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: 200px 200px 200px;
  
      grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "footer"
     }
   
 }
 
 