
h1{
    color: rgb(14, 15, 14);
   }

@import "header","body","footer";

nav ul{background: rgb(0, 0, 0);}




$primary-color: rgb(199, 176, 176);
$background-image:linear-gradient(to bottom, #adcad6, #616566, hsl(0, 0%, 100%)); ;


.hero {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  &-content {
    text-align: center;
    color: #572bcf;
    img{width: auto;height: auto;}
    h1 {
      font-size: 32px;
      margin-bottom: 16px;
    }

    p {
      font-size: px;
      margin-bottom: 24px;
    }
    ul li {
      font-size: x-large;
    }
    .cta-button {
      padding: 12px 24px;
      background-color: $primary-color;
      color: #901cdd;
      text-decoration: none;
      font-weight: bold;
      border-radius: 4px;
     }
  }
}



.acercade {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  &-content {
    background: linear-gradient(to bottom, #5bafd3, #203a43, #2c5364);
    width: 900px;
    height: 420px;
    border: 2px solid #9695ee;
    border-style: round($number: 4);
    text-align: center;
    color: #fff;
    border-radius: 10px;
    h1 {
      font-size: 40px;
      margin-bottom: 16px;
    }

    p {
      
      color: rgb(172, 202, 172);
      margin-bottom: 24px;
      font: italic small-caps bold 30px/40px Georgia, serif;
    }
  }
}

.contacto {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  &-content {
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    width: 300px;
    height: 400px;
    border: 2px solid #9695ee;
    border-style: round($number: 4);
    text-align: center;
    color: #fff;
    border-radius: 10px;
    h1 {
      font-size: 40px;
      margin-bottom: 16px;
    }

    p {
      
      color: rgb(172, 202, 172);
      margin-bottom: 24px;
      font: italic small-caps bold 30px/40px Georgia, serif;
    }
  }
}



#cuadricula {
  display: grid;
  grid-template-columns:1fr 2fr 1fr ;
  grid-template-rows: 360px auto 70px;
  background-color: #c2e0f8;
  padding: 5px;
}
.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(110, 38, 38);
  padding: 15px;
  font-size: 30px;
  text-align: center;

} 

ul li:hover ul {
  display:block;
  background-color: #5f17e4;
}
ul {
  list-style: none;
  font: size 10px;

  nav :hover {
    background-color: #1e14b4;
  }
 }
 
  
@media screen and (max-width:1080px){
  .grid-container{
     grid-template-columns: 2fr;
     grid-template-rows: 200px 200px 200px;
 
     grid-template-areas: 
     "header"
     "nav"
     "main"
     "aside"
     "footer"
    }
   }
  @media screen and (min-width:500px)  {
    .grid-container{
       grid-template-columns: 1fr;
       grid-template-rows: 200px 200px 200px;
   
       grid-template-areas: 
       "header"
       "nav"
       "main"
       "aside"
       "footer"
      }
    
  }

//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset para navegadores viejos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}