
h1{
    color: red;
 }
 @import "header","body","footer"

nav ul {background: rgb(240, 189, 171);}
html body header nav.navbar.navbar-expand-lg.navbar-light.bg-light div.container-fluid div#navbarSupportedContent.collapse.navbar-collapse {background-color: black;}